body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'astronBoy',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  font-family: "Droid Sans" !important;
  font-size: 21px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'astronBoy hollow';
  src: url('/public/fonts/astron-boy/astron\ boy\ wonder.otf');
}

@font-face {
  font-family: 'astronBoy';
  src: url('/public/fonts/astron-boy/astron\ boy.otf');
}